nav {
    background-color: red;
}

body {
    background-color: beige;
}

#pokeapiIMG {
    width: 8rem;
    margin-left: 5%;
}

#custom-card {
width: 10rem;
height: 15rem;
background-image: url("https://media.tenor.com/_Gkz-2OJRrUAAAAd/pokemon-nintendo.gif");
background-size: 12rem;

}

.col {
    margin: 0.3%;
}

.row {
    margin: 2%;
}

#pokebola {
    width: 1rem;
}
