nav {
    background-color: red;
}

#pokeapiIMG {
    width: 90px;
    margin-left: 5%;
}

#custom-card {
width: 70%;
height: 100%;
}

#pagAndSearch {
    display: flex;
    justify-content: space-between;

}


#searchBtn { 
    justify-content: end;
    
}

.col {
    margin: 0.5%;
}

.row {
    margin: 2%;
}